<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/auth.css">
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <h1>Login Page</h1>
        <p class="note">*please enter your email and password</p>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form>

        <button onclick="window.location.href='/';">
            Go back
        </button>
    </main>
<%- include('../includes/end.ejs') %>