<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-control">
                <label for="sex">Sex</label>
                <input type="text" name="sex" id="sex">
              </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Signup</button>
        </form>

        <button onclick="window.location.href='/';">
            Go back
        </button>
    </main>
<%- include('../includes/end.ejs') %>