<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <link rel="stylesheet" href="Login.css">
</head>

<body>
    <section>
        <h1>Report Home Page</h1>
        <main>
            <form action="/" method="POST">
                <label for="name">
                    User Name:<br>
                    <input type="text" id="username" name="username" required>
                </label><br>

                <label for="password">
                    password:<br>
                    <input type="text" id="password" name="password" required>
                </label><br>

                <input type="submit" value="Login" id="login">
            </form>
        </main>
    </section>
</body>

</html>