nav {
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: space-between;
}
nav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

h1{
    text-align: center;
}
zing-grid {
    background: #eeeeee;
    font-size: 1.2rem;
    padding: 10px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .15);
}

zg-caption {
    background-color: rgb(90, 88, 88);
    color: white;
    font-weight: bold;
    opacity: 0.6;
    text-align: center;
    transition: 0.3s opacity;
    font-size: 2rem;
  }
