body{
    font-size: 17px;
}
section{
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding: 20px;
}
section > h1{
    text-align: center;
    padding: 10px;
}
main{
    padding: 20px;
}
form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#login{
    border: rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
}